body {
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#nav_title {
    background: #1F87C4;
}

#nav_bar ul li:hover {
    background: #1F87C4;
}

.btn_leermas:hover {
    background: #1F87C4;
}

#ir_arriba:hover {
    background: #1F87C4;
}

#reloj h2 {
    background: #1F87C4;
}