* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.clearfix{
    float: none;
    clear: both;
}

body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#main_container {
    background: white;
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    padding:  25px 25px 0px 25px;
    box-shadow: 2px 0px 10px grey;
}

#nav_title {
    color: white;
    font-family: Verdana, Arial;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    width: 385px;
    height: 80px;
    line-height: 80px;
    float: left;
}

#nav_bar {
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}

#nav_bar ul {
    line-height: 46px;
}

#nav_bar ul li {
    height: 46px;
    display: inline-block;
    transition: 500ms;
}

#nav_bar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

#posts_section {
    width: 60%;
    font-family: Helvetica, Arial;
    float: left;    
}

.post {
    color: #333;
    padding: 5px;
    margin-bottom: 25px;
}

.post h2 {
    font-size: 30px;
}
.post span{
    display: block;
    color: #ccc;
}

.post p {
    margin-top: 15px;
    line-height: 22px;
    text-align: justify;
}

.btn_leermas {
    display: block;
    padding: 15px;
    background: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    width: 91px;
    transition: 500ms;
}

#side_bar {
    font-family: Helvetica, Arial;
    width: 31%;
    float: right;
    color: #333;
}

#about {
    padding: 5px;
}

#about img {
    width: 100%;
}

.side_h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    background: url('../img/lines.png') repeat-x;
}

.side_h4 span {
    background: white;
    padding:  0px 5px 0px 5px;
}

#about p {
    margin-top: 10px;
    font-size: 15px;
    text-align: justify;
}

#register_form input[type="text"],
#register_form input[type="email"],
#register_form input[type="password"]
 {
    padding: 5px;   
    margin-bottom: 10px;
    margin-top: 5px;
    width: 75%;
}

#register_form input[type="submit"] {
    padding: 10px;
    margin-bottom: 20px;
    background: #eee;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
}

#sesion_on {
    text-align: center;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51, 0.95);
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    line-height: 47px;
    padding:  25px 25px 25px 25px;
    text-align: center;
}

.bx-wrapper, .bx-viewport {
    height: 250px !important;
}

#selector_theme {
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.7);
    width: 50px;
    height: 100px;
}

#to_green,
#to_red,
#to_blue {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#to_green {
    background: #235e3D;
}

#to_red {
    background: #CA3413;
}

#to_blue {
    background: #1F87C4;
}

#ir_arriba {
    position: fixed;
    top: 94%;
    left: 93%;
    background: #333;
    color: white;
    font-family: Helvetica, Arial;
    font-size: 15px;
    cursor: pointer;
    border: 0px;
    transition: 500ms;
    padding: 15px;
}

#contacto h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: #333;  
}

#contacto input[name="nombre"],
#contacto input[name="apellido"],
#contacto input[name="edad"],
#contacto input[name="fecha_nacimiento"],
#contacto textarea {
    display: block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 50%;
}

#contacto input[type="submit"] {
    padding: 10px;
    margin-bottom: 20px;
    background: #eee;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
}

#reloj {
    font-size: 50px;
    color: white;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 30px;
}

#reloj h2 {
    padding: 20px;
}

.help-block{
    display: block;
}

.form-error {
    padding: 10px;
    width: 50%;
    background: red;
    text-align: center;
    color: white;

}